<div class="howItWorks">
  <div class="container-fluid">
    <h2 class="howItWoHead text-center">How It Works ?</h2>
    <div class="row">
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="workS text-center">
          <div class="worksImage">
            <img [src]="image1" alt="" />
          </div>
          <div class="worksText">
            <h4>Investigation</h4>
            <p>We will investigate about your case</p>
          </div>
          <div class="btt">
            <a href="">Send Request</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="workS text-center">
          <div class="worksImage">
            <img [src]="image2" alt="" />
          </div>
          <div class="worksText">
            <h4>Case Fight</h4>
            <p>We will fight your case in court</p>
          </div>
          <div class="btt">
            <a href="">Send Request</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="workS text-center">
          <div class="worksImage">
            <img [src]="image3" alt="" />
          </div>
          <div class="worksText">
            <h4>Request a quote</h4>
            <p>Send Us your Request</p>
          </div>
          <div class="btt">
            <a href="">Send Request</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
