<div class="faq">
  <div class="navigator">
    <div class="navgateHeader">
      <h1>FAQ</h1>
    </div>
    <div class="navBar d-flex align-items-center">
      <a routerLink="/home"><i class="fa-solid fa-house pe-3"></i></a>
      <i class="fa-solid fa-angle-right pe-3"></i>
      <p>faq</p>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="left">
          <div class="imag">
            <img [src]="image1" alt="" />
          </div>
        </div>
      </div>
      <div class="col-md-8 mt-4 mt-md-0">
        <div class="right">
          <div class="hea">
            <h3>Do you have a Legal Question?</h3>
            <p>
              Please read questions bellow and if you can not find your answer,
              We have collected a set of questions that will help you understand
              some things
            </p>
            <div class="AskIcon">
              <div class="icon">
                <i class="fa-regular fa-circle-question"></i>
              </div>
              <h4>General F.A.Q</h4>
            </div>
            <div class="questionsAco">
              <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapseOne"
                      aria-expanded="true"
                      aria-controls="panelsStayOpen-collapseOne"
                    >
                      <!-- Accordion Item #1 -->
                      Why is exchange rate flexibility important for Egypt?
                    </button>
                  </h2>
                  <div
                    id="panelsStayOpen-collapseOne"
                    class="accordion-collapse collapse show"
                  >
                    <div class="accordion-body">
                      <strong
                        >In the past, a heavily managed exchange rate has not
                        served Egypt well.</strong
                      >
                      It has led to periods of building imbalances, which in
                      turn, have led to the loss of central and commercial bank
                      foreign currency assets, rationing of foreign currency,
                      forcing the central bank to abruptly devalue the Egyptian
                      pound relative to other currencies. These devaluations
                      have led to spikes in inflation and undermined economic
                      activity as consumers and investors lose confidence in the
                      health of the Egyptian economy.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapseTwo"
                      aria-expanded="false"
                      aria-controls="panelsStayOpen-collapseTwo"
                    >
                      <!-- Accordion Item #2 -->
                      How does the program protect Egypt's vulnerable
                      households?
                    </button>
                  </h2>
                  <div
                    id="panelsStayOpen-collapseTwo"
                    class="accordion-collapse collapse"
                  >
                    <div class="accordion-body">
                      <strong>
                        Safeguarding macroeconomic stability and fighting
                        inflation</strong
                      >
                      are key to ensuring prosperity for all Egyptians, in
                      particular the most vulnerable. In this regard, monetary
                      policy under the program will be focused on fighting
                      inflation and the erosion in purchasing power that is
                      disproportionately affecting poor and middle-class
                      families. In addition, the authorities plan to expand
                      social spending under the program to help the most
                      vulnerable.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapseThree"
                      aria-expanded="false"
                      aria-controls="panelsStayOpen-collapseThree"
                    >
                      <!-- Accordion Item #3 -->
                      What measures in the program support development of the
                      private sector?
                    </button>
                  </h2>
                  <div
                    id="panelsStayOpen-collapseThree"
                    class="accordion-collapse collapse"
                  >
                    <div class="accordion-body">
                      <strong>
                        Encouragingly, there is an ongoing debate in Egypt
                        about</strong
                      >

                      the role of the state in the economy. Structural reform
                      policies under the program will support the authorities’
                      plan to reduce the state footprint, enhance transparency
                      and governance of state-owned enterprises (SOEs), level
                      the playing field for all economic agents (e.g., through
                      the removal of preferential treatment for SOEs), and
                      improve trade facilitation
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="AskIcon">
              <div class="icon">
                <i class="fa-regular fa-circle-question"></i>
              </div>
              <h4>Other Questions</h4>
            </div>

            <div class="questionsAco">
              <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapseMainOne"
                      aria-expanded="true"
                      aria-controls="panelsStayOpen-collapseMainOne"
                    >
                      <!-- Accordion Item #1 -->

                      What is the regulatory governance structure in
                      professional sport ?
                    </button>
                  </h2>
                  <div
                    id="panelsStayOpen-collapseMainOne"
                    class="accordion-collapse collapse show"
                  >
                    <div class="accordion-body">
                      <strong>
                        According to article 3 of the Egyptian Sports
                        Law.</strong
                      >
                      (Law No. 71 of 2017) (the Sports Law), each sports body,
                      under the supervision of the Ministry of Youth and Sports,
                      has the authority to draft and enact its own statutes, by
                      which it is governed and regulated, provided that they are
                      approved by:
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapseMainTwo"
                      aria-expanded="false"
                      aria-controls="panelsStayOpen-collapseMainTwo"
                    >
                      <!-- Accordion Item #2 -->
                      Is it Safe to Visit Egypt?
                    </button>
                  </h2>
                  <div
                    id="panelsStayOpen-collapseMainTwo"
                    class="accordion-collapse collapse"
                  >
                    <div class="accordion-body">
                      <strong> It is straightforward, yes,.</strong>
                      as millions visit in relative safety each year. Egypt's
                      crime rates are low (almost not exist). Security is good
                      and there are Tourist Police, who are always nearby upon
                      your request at all tourist sights.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapseMainThree"
                      aria-expanded="false"
                      aria-controls="panelsStayOpen-collapseMainThree"
                    >
                      <!-- Accordion Item #3 -->
                      What are the formalities for entry to Egypt?
                    </button>
                  </h2>
                  <div
                    id="panelsStayOpen-collapseMainThree"
                    class="accordion-collapse collapse"
                  >
                    <div class="accordion-body">
                      <strong>
                        Obtaining required travel documents including visas
                        is.</strong
                      >

                      your sole responsibility. Entry visa requirements vary by
                      country of residence and by nationality “passport you are
                      holding”. Entry requirement are subject to change at any
                      time, so it's important that you check for the latest
                      information. Please contact your nearest Egyptian Embassy
                      or Consulate for detailed and up-to-date visa information
                      specific to your nationality.
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapseMainFour"
                      aria-expanded="false"
                      aria-controls="panelsStayOpen-collapseMainFour"
                    >
                      <!-- Accordion Item #4 -->
                      What Is A Head-On Collision?
                    </button>
                  </h2>
                  <div
                    id="panelsStayOpen-collapseMainFour"
                    class="accordion-collapse collapse"
                  >
                    <div class="accordion-body">
                      <strong>Also known as a frontal crash, .</strong>
                      a head-on collision is a traffic accident where the front
                      ends of two vehicles, usually cars, SUVs, or trucks in the
                      case of personal injury cases, hit each other when
                      traveling in opposite directions. The “heads” of two
                      vehicles collide.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#panelsStayOpen-collapseMainFive"
                      aria-expanded="false"
                      aria-controls="panelsStayOpen-collapseMainFive"
                    >
                      <!-- Accordion Item #5 -->
                      What Injuries Are Common In A Head-On Collision?
                    </button>
                  </h2>
                  <div
                    id="panelsStayOpen-collapseMainFive"
                    class="accordion-collapse collapse"
                  >
                    <div class="accordion-body">
                      <strong>
                        Head-on collision injuries often include fractured bones
                        in the ribs,</strong
                      >
                      arms, and legs. They are the collision most likely to
                      result in severe injury or death. Life-threatening
                      conditions are common such as traumatic injury to the
                      brain, spinal cord trauma resulting in paralysis, and
                      crushed organs bleeding internally.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
