<div class="contract">
  <div class="container-fluid">
    <div class="cotractText text-center">
      <h1>Avocato Group:</h1>
      <p class="col-11 col-md-10 col-lg-8 m-auto">
        Avocato Law Group was founded for one simple, yet very important reason: to
        put the interests of our clients first, period. While many firms preach
        this same message, the interests of the firm and the interests of the
        client are not always aligned. By comparison, the internal structure of
        traditional firms is primarily based upon a billable approach and
        attorneys are rewarded or penalized based upon the same. We are not a
        billable centered practice; rather, we are a client centered practice
        and can prove it.
      </p>
    </div>

    <div class="imge text-center mt-3">
      <img [src]="image1" alt="" />
    </div>
  </div>
</div>

<!-- <div *ngFor="let xa of x">
  <img [src]="xa.image" alt="">
  <img src="{{ imagUrlProduct + xa.image }}" alt="">
  {{imagUrlProduct + xa.image }}
</div> -->
