<div class="caseLiks">
  <div class="container-fluid">
    <h2 class="caseLiksHeader text-center">A Case Like Yours</h2>

    <swiper-container
      navigation="true"
      pagination="true"
      pagination-clickable="true"
    >
      <swiper-slide
        ><div class=" slide">
          <img [src]="image1" alt="" srcset="" />
          <div class="textCase">
            <h4>Money Laundering</h4>
            <div class="typeCase d-flex justify-content-center align-items-center">
                <p>Business</p>
                <p>criminal</p>
            </div>
          </div></div
      ></swiper-slide>
      <swiper-slide
        ><div class=" slide">
          <img [src]="image2" alt="" srcset="" /><div class="textCase">
            <h4>Child Apps</h4>
            <div class="typeCase d-flex justify-content-center align-items-center">
                <p>Criminal</p>
                <p>FamilyLaw</p>
            </div>
          </div>
          </div
      ></swiper-slide>
      <swiper-slide
        ><div class=" slide">
          <img [src]="image3" alt="" srcset="" /><div class="textCase">
            <h4>Spousal Assault</h4>
            <div class="typeCase d-flex justify-content-center align-items-center">
                <p>FamilyLaw</p>
            </div>
          </div>
          </div
      ></swiper-slide>
      <swiper-slide
        ><div class=" slide">
          <img [src]="image4" alt="" srcset="" /><div class="textCase">
            <h4>Drinking </h4>
            <div class="typeCase d-flex justify-content-center align-items-center">
                <p>criminal</p>
            </div>
          </div>
          </div
      ></swiper-slide>
      <swiper-slide
        ><div class=" slide">
          <img [src]="image5" alt="" srcset="" /><div class="textCase">
            <h4>Drug Offences </h4>
            <div class="typeCase d-flex justify-content-center align-items-center">
                <p>criminal</p>
            </div>
          </div>
          </div
      ></swiper-slide>
      <swiper-slide
        ><div class=" slide">
          <img [src]="image6" alt="" srcset="" /><div class="textCase">
            <h4>Shoplifting </h4>
            <div class="typeCase d-flex justify-content-center align-items-center">
                <p>socialOff</p>
                <p>criminal</p>
            </div>
          </div>
          </div
      ></swiper-slide>
    </swiper-container>
  </div>
</div>
