<div class="allLawer">
  <div class="container-fluid px-4">
    <h1 class="text-center my-3 headTitl">Our Expert Lawers</h1>
    
    <div class="singleLawer">
      <div class="row align-items-center">
        <div class="col-lg-8">
          <a [routerLink]="['/lawerDetail', 1]">
            <div class="singleImagDetail">
              <div class="image">
                <img [src]="image1" alt="" />
              </div>
              <div class="content">
                <h5 class="name">
                  <span class="doctor">Lawer</span> Eman Tantawy
                </h5>
                <p class="title">
                  Ph.D. and Consultant Oral and Maxillofacial Surgery
                </p>
                <div class="iconrate">
                  <i class="fa-solid fa-star"> </i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
                <p class="rate">Overall Rating From 887 Visitors</p>

                <div class="category">
                  <i class="fa-solid fa-scale-balanced"></i> Case Fight
                </div>
                <div class="feess">
                  <i class="fa-solid fa-money-bill-wave"></i> Fees : 300 EGP
                </div>
                <div class="waitTime">
                  <i class="fa-regular fa-clock"></i> Waiting Time : 15 Minutes
                </div>
                <div class="cont">
                  <i class="fa-solid fa-phone"></i> 16676 - Cost of regular call
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-lg-4 mt-3 mt-lg-0">
          <div class="singleRight">
            <swiper-container navigation="true">
              <swiper-slide
                ><div class="slide text-center">
                  <h6 class="bg-secondary text-white">Today</h6>
                  <div class="date">
                    <p>From <span class="">04:30 pm</span></p>
                    <p>To <span class="">09:30 pm</span></p>
                  </div>
                  <a routerLink="/Reservation">
                    <h6 class="bg-secondary text-white">Bookv</h6></a
                  >
                </div></swiper-slide
              >
              <swiper-slide
                ><div class="slide text-center">
                  <h6 class="bg-secondary text-white">Today</h6>
                  <div class="date">
                    <p>From <span class="">04:30 pm</span></p>
                    <p>To <span class="">09:30 pm</span></p>
                  </div>
                  <h6 class="bg-secondary text-white">Book</h6>
                </div></swiper-slide
              >
              <swiper-slide
                ><div class="slide text-center">
                  <h6 class="bg-secondary text-white">Today</h6>
                  <div class="date">
                    <p>From <span class="">04:30 pm</span></p>
                    <p>To <span class="">09:30 pm</span></p>
                  </div>
                  <h6 class="bg-secondary text-white">Book</h6>
                </div></swiper-slide
              >
              <swiper-slide
                ><div class="slide text-center">
                  <h6 class="bg-secondary text-white">Today</h6>
                  <div class="date">
                    <p>from <span class="">04:30 pm</span></p>
                    <p>To <span class="">09:30 pm</span></p>
                  </div>
                  <h6 class="bg-secondary text-white">Book</h6>
                </div></swiper-slide
              >
              <swiper-slide
                ><div class="slide text-center">
                  <h6 class="bg-secondary text-white">Today</h6>
                  <div class="date">
                    <p>from <span class="">04:30 pm</span></p>
                    <p>To <span class="">09:30 pm</span></p>
                  </div>
                  <h6 class="bg-secondary text-white">Book</h6>
                </div></swiper-slide
              >
              <!-- <swiper-slide
                ><div class="slide">
                  <img [src]="imageDate2" alt="" srcset="" />
                  <div class="textCase">
                    <h4>Child Apps</h4>
                    <div
                      class="typeCase d-flex justify-content-center align-items-center"
                    >
                      <p>Criminal</p>
                      <p>FamilyLaw</p>
                    </div>
                  </div>
                </div></swiper-slide
              >
              <swiper-slide
                ><div class="slide">
                  <img [src]="imageDate3" alt="" srcset="" />
                  <div class="textCase">
                    <h4>Spousal Assault</h4>
                    <div
                      class="typeCase d-flex justify-content-center align-items-center"
                    >
                      <p>FamilyLaw</p>
                    </div>
                  </div>
                </div></swiper-slide
              >
              <swiper-slide
                ><div class="slide">
                  <img [src]="imageDate4" alt="" srcset="" />
                  <div class="textCase">
                    <h4>Drinking</h4>
                    <div
                      class="typeCase d-flex justify-content-center align-items-center"
                    >
                      <p>criminal</p>
                    </div>
                  </div>
                </div></swiper-slide
              >
              <swiper-slide
                ><div class="slide">
                  <img [src]="imageDate5" alt="" srcset="" />
                  <div class="textCase">
                    <h4>Drug Offences</h4>
                    <div
                      class="typeCase d-flex justify-content-center align-items-center"
                    >
                      <p>criminal</p>
                    </div>
                  </div>
                </div></swiper-slide
              >
              <swiper-slide
                ><div class="slide">
                  <img [src]="imageDate6" alt="" srcset="" />
                  <div class="textCase">
                    <h4>Shoplifting</h4>
                    <div
                      class="typeCase d-flex justify-content-center align-items-center"
                    >
                      <p>socialOff</p>
                      <p>criminal</p>
                    </div>
                  </div>
                </div></swiper-slide
              > -->
            </swiper-container>
          </div>
        </div>
      </div>
    </div>
    <div class="singleLawer">
      <div class="row align-items-center">
        <div class="col-lg-8">
          <a [routerLink]="['/lawerDetail', 1]">
            <div class="singleImagDetail">
              <div class="image">
                <img [src]="image1" alt="" />
              </div>
              <div class="content">
                <h5 class="name">
                  <span class="doctor">Lawer</span> Eman Tantawy
                </h5>
                <p class="title">
                  Ph.D. and Consultant Oral and Maxillofacial Surgery
                </p>
                <div class="iconrate">
                  <i class="fa-solid fa-star"> </i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
                <p class="rate">Overall Rating From 887 Visitors</p>

                <div class="category">
                  <i class="fa-solid fa-scale-balanced"></i> Case Fight
                </div>
                <div class="feess">
                  <i class="fa-solid fa-money-bill-wave"></i> Fees : 300 EGP
                </div>
                <div class="waitTime">
                  <i class="fa-regular fa-clock"></i> Waiting Time : 15 Minutes
                </div>
                <div class="cont">
                  <i class="fa-solid fa-phone"></i> 16676 - Cost of regular call
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-lg-4 mt-3 mt-lg-0">
          <div class="singleRight">
            <swiper-container navigation="true">
              <swiper-slide
                ><div class="slide text-center">
                  <h6 class="bg-secondary text-white">Today</h6>
                  <div class="date">
                    <p>From <span class="">04:30 pm</span></p>
                    <p>To <span class="">09:30 pm</span></p>
                  </div>
                  <a routerLink="/Reservation">
                    <h6 class="bg-secondary text-white">Bookv</h6></a
                  >
                </div></swiper-slide
              >
              <swiper-slide
                ><div class="slide text-center">
                  <h6 class="bg-secondary text-white">Today</h6>
                  <div class="date">
                    <p>From <span class="">04:30 pm</span></p>
                    <p>To <span class="">09:30 pm</span></p>
                  </div>
                  <h6 class="bg-secondary text-white">Book</h6>
                </div></swiper-slide
              >
              <swiper-slide
                ><div class="slide text-center">
                  <h6 class="bg-secondary text-white">Today</h6>
                  <div class="date">
                    <p>From <span class="">04:30 pm</span></p>
                    <p>To <span class="">09:30 pm</span></p>
                  </div>
                  <h6 class="bg-secondary text-white">Book</h6>
                </div></swiper-slide
              >
              <swiper-slide
                ><div class="slide text-center">
                  <h6 class="bg-secondary text-white">Today</h6>
                  <div class="date">
                    <p>from <span class="">04:30 pm</span></p>
                    <p>To <span class="">09:30 pm</span></p>
                  </div>
                  <h6 class="bg-secondary text-white">Book</h6>
                </div></swiper-slide
              >
              <swiper-slide
                ><div class="slide text-center">
                  <h6 class="bg-secondary text-white">Today</h6>
                  <div class="date">
                    <p>from <span class="">04:30 pm</span></p>
                    <p>To <span class="">09:30 pm</span></p>
                  </div>
                  <h6 class="bg-secondary text-white">Book</h6>
                </div></swiper-slide
              >
              <!-- <swiper-slide
                ><div class="slide">
                  <img [src]="imageDate2" alt="" srcset="" />
                  <div class="textCase">
                    <h4>Child Apps</h4>
                    <div
                      class="typeCase d-flex justify-content-center align-items-center"
                    >
                      <p>Criminal</p>
                      <p>FamilyLaw</p>
                    </div>
                  </div>
                </div></swiper-slide
              >
              <swiper-slide
                ><div class="slide">
                  <img [src]="imageDate3" alt="" srcset="" />
                  <div class="textCase">
                    <h4>Spousal Assault</h4>
                    <div
                      class="typeCase d-flex justify-content-center align-items-center"
                    >
                      <p>FamilyLaw</p>
                    </div>
                  </div>
                </div></swiper-slide
              >
              <swiper-slide
                ><div class="slide">
                  <img [src]="imageDate4" alt="" srcset="" />
                  <div class="textCase">
                    <h4>Drinking</h4>
                    <div
                      class="typeCase d-flex justify-content-center align-items-center"
                    >
                      <p>criminal</p>
                    </div>
                  </div>
                </div></swiper-slide
              >
              <swiper-slide
                ><div class="slide">
                  <img [src]="imageDate5" alt="" srcset="" />
                  <div class="textCase">
                    <h4>Drug Offences</h4>
                    <div
                      class="typeCase d-flex justify-content-center align-items-center"
                    >
                      <p>criminal</p>
                    </div>
                  </div>
                </div></swiper-slide
              >
              <swiper-slide
                ><div class="slide">
                  <img [src]="imageDate6" alt="" srcset="" />
                  <div class="textCase">
                    <h4>Shoplifting</h4>
                    <div
                      class="typeCase d-flex justify-content-center align-items-center"
                    >
                      <p>socialOff</p>
                      <p>criminal</p>
                    </div>
                  </div>
                </div></swiper-slide
              > -->
            </swiper-container>
          </div>
        </div>
      </div>
    </div>

    <div class="singleLawer">
      <div class="row align-items-center">
        <div class="col-lg-8">
          <a [routerLink]="['/lawerDetail', 1]">
            <div class="singleImagDetail">
              <div class="image">
                <img [src]="image1" alt="" />
              </div>
              <div class="content">
                <h5 class="name">
                  <span class="doctor">Lawer</span> Eman Tantawy
                </h5>
                <p class="title">
                  Ph.D. and Consultant Oral and Maxillofacial Surgery
                </p>
                <div class="iconrate">
                  <i class="fa-solid fa-star"> </i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </div>
                <p class="rate">Overall Rating From 887 Visitors</p>

                <div class="category">
                  <i class="fa-solid fa-scale-balanced"></i> Case Fight
                </div>
                <div class="feess">
                  <i class="fa-solid fa-money-bill-wave"></i> Fees : 300 EGP
                </div>
                <div class="waitTime">
                  <i class="fa-regular fa-clock"></i> Waiting Time : 15 Minutes
                </div>
                <div class="cont">
                  <i class="fa-solid fa-phone"></i> 16676 - Cost of regular call
                </div>
              </div>
            </div>
          </a>
        </div>

        <div class="col-lg-4 mt-3 mt-lg-0">
          <div class="singleRight">
            <swiper-container navigation="true">
              <swiper-slide
                ><div class="slide text-center">
                  <h6 class="bg-secondary text-white">Today</h6>
                  <div class="date">
                    <p>From <span class="">04:30 pm</span></p>
                    <p>To <span class="">09:30 pm</span></p>
                  </div>
                  <a routerLink="/Reservation">
                    <h6 class="bg-secondary text-white">Bookv</h6></a
                  >
                </div></swiper-slide
              >
              <swiper-slide
                ><div class="slide text-center">
                  <h6 class="bg-secondary text-white">Today</h6>
                  <div class="date">
                    <p>From <span class="">04:30 pm</span></p>
                    <p>To <span class="">09:30 pm</span></p>
                  </div>
                  <h6 class="bg-secondary text-white">Book</h6>
                </div></swiper-slide
              >
              <swiper-slide
                ><div class="slide text-center">
                  <h6 class="bg-secondary text-white">Today</h6>
                  <div class="date">
                    <p>From <span class="">04:30 pm</span></p>
                    <p>To <span class="">09:30 pm</span></p>
                  </div>
                  <h6 class="bg-secondary text-white">Book</h6>
                </div></swiper-slide
              >
              <swiper-slide
                ><div class="slide text-center">
                  <h6 class="bg-secondary text-white">Today</h6>
                  <div class="date">
                    <p>from <span class="">04:30 pm</span></p>
                    <p>To <span class="">09:30 pm</span></p>
                  </div>
                  <h6 class="bg-secondary text-white">Book</h6>
                </div></swiper-slide
              >
              <swiper-slide
                ><div class="slide text-center">
                  <h6 class="bg-secondary text-white">Today</h6>
                  <div class="date">
                    <p>from <span class="">04:30 pm</span></p>
                    <p>To <span class="">09:30 pm</span></p>
                  </div>
                  <h6 class="bg-secondary text-white">Book</h6>
                </div></swiper-slide
              >
              <!-- <swiper-slide
                ><div class="slide">
                  <img [src]="imageDate2" alt="" srcset="" />
                  <div class="textCase">
                    <h4>Child Apps</h4>
                    <div
                      class="typeCase d-flex justify-content-center align-items-center"
                    >
                      <p>Criminal</p>
                      <p>FamilyLaw</p>
                    </div>
                  </div>
                </div></swiper-slide
              >
              <swiper-slide
                ><div class="slide">
                  <img [src]="imageDate3" alt="" srcset="" />
                  <div class="textCase">
                    <h4>Spousal Assault</h4>
                    <div
                      class="typeCase d-flex justify-content-center align-items-center"
                    >
                      <p>FamilyLaw</p>
                    </div>
                  </div>
                </div></swiper-slide
              >
              <swiper-slide
                ><div class="slide">
                  <img [src]="imageDate4" alt="" srcset="" />
                  <div class="textCase">
                    <h4>Drinking</h4>
                    <div
                      class="typeCase d-flex justify-content-center align-items-center"
                    >
                      <p>criminal</p>
                    </div>
                  </div>
                </div></swiper-slide
              >
              <swiper-slide
                ><div class="slide">
                  <img [src]="imageDate5" alt="" srcset="" />
                  <div class="textCase">
                    <h4>Drug Offences</h4>
                    <div
                      class="typeCase d-flex justify-content-center align-items-center"
                    >
                      <p>criminal</p>
                    </div>
                  </div>
                </div></swiper-slide
              >
              <swiper-slide
                ><div class="slide">
                  <img [src]="imageDate6" alt="" srcset="" />
                  <div class="textCase">
                    <h4>Shoplifting</h4>
                    <div
                      class="typeCase d-flex justify-content-center align-items-center"
                    >
                      <p>socialOff</p>
                      <p>criminal</p>
                    </div>
                  </div>
                </div></swiper-slide
              > -->
            </swiper-container>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="singleLawer">
      <div class="image">
        <img [src]="image2" alt="" />
      </div>
      <div class="content">
        <h5 class="name"><span class="doctor">Lawer</span> Eman Tantawy</h5>
        <p class="title">Ph.D. and Consultant Oral and Maxillofacial Surgery</p>
        <div class="iconrate">
          <i class="fa-solid fa-star"> </i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
        <p class="rate">Overall Rating From 887 Visitors</p>

        <div class="category">
          <i class="fa-solid fa-scale-balanced"></i> Case Fight
        </div>
        <div class="feess">
          <i class="fa-solid fa-money-bill-wave"></i> Fees : 300 EGP
        </div>
        <div class="waitTime">
          <i class="fa-regular fa-clock"></i> Waiting Time : 15 Minutes
        </div>
        <div class="cont">
          <i class="fa-solid fa-phone"></i> 16676 - Cost of regular call
        </div>
      </div>
    </div>
    <div class="singleLawer">
      <div class="image">
        <img [src]="image3" alt="" />
      </div>
      <div class="content">
        <h5 class="name"><span class="doctor">Lawer</span> Eman Tantawy</h5>
        <p class="title">Ph.D. and Consultant Oral and Maxillofacial Surgery</p>
        <div class="iconrate">
          <i class="fa-solid fa-star"> </i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
        <p class="rate">Overall Rating From 887 Visitors</p>

        <div class="category">
          <i class="fa-solid fa-scale-balanced"></i> Case Fight
        </div>
        <div class="feess">
          <i class="fa-solid fa-money-bill-wave"></i> Fees : 300 EGP
        </div>
        <div class="waitTime">
          <i class="fa-regular fa-clock"></i> Waiting Time : 15 Minutes
        </div>
        <div class="cont">
          <i class="fa-solid fa-phone"></i> 16676 - Cost of regular call
        </div>
      </div>
    </div>
    <div class="singleLawer">
      <div class="image">
        <img [src]="image4" alt="" />
      </div>
      <div class="content">
        <h5 class="name"><span class="doctor">Lawer</span> Eman Tantawy</h5>
        <p class="title">Ph.D. and Consultant Oral and Maxillofacial Surgery</p>
        <div class="iconrate">
          <i class="fa-solid fa-star"> </i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
        <p class="rate">Overall Rating From 887 Visitors</p>

        <div class="category">
          <i class="fa-solid fa-scale-balanced"></i> Case Fight
        </div>
        <div class="feess">
          <i class="fa-solid fa-money-bill-wave"></i> Fees : 300 EGP
        </div>
        <div class="waitTime">
          <i class="fa-regular fa-clock"></i> Waiting Time : 15 Minutes
        </div>
        <div class="cont">
          <i class="fa-solid fa-phone"></i> 16676 - Cost of regular call
        </div>
      </div>
    </div>
    <div class="singleLawer">
      <div class="image">
        <img [src]="image5" alt="" />
      </div>
      <div class="content">
        <h5 class="name"><span class="doctor">Lawer</span> Eman Tantawy</h5>
        <p class="title">Ph.D. and Consultant Oral and Maxillofacial Surgery</p>
        <div class="iconrate">
          <i class="fa-solid fa-star"> </i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
        <p class="rate">Overall Rating From 887 Visitors</p>

        <div class="category">
          <i class="fa-solid fa-scale-balanced"></i> Case Fight
        </div>
        <div class="feess">
          <i class="fa-solid fa-money-bill-wave"></i> Fees : 300 EGP
        </div>
        <div class="waitTime">
          <i class="fa-regular fa-clock"></i> Waiting Time : 15 Minutes
        </div>
        <div class="cont">
          <i class="fa-solid fa-phone"></i> 16676 - Cost of regular call
        </div>
      </div>
    </div> -->
  </div>
</div>
