<div class="userProfile mt-5 pb-5">
  <div class="container border border-2 border-secondary">
    <div class="headerUser">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-4">
          <div class="leftPro d-flex align-items-center">
            <div class="image me-3">
              <div class="icon" (click)="openWindow('image')">
                <i class="fa-solid fa-pen"></i>
              </div>
              <img [src]="uploadeImage + userInfo.image" alt="" />
              <div class="acvitPar">
                <div class="iconActive"></div>
              </div>
              <div class="modal-dialog modal-dialog-centered"></div>
            </div>
            <div class="name">
              <h5>{{ userInfo.name }}</h5>
              <!-- <div class="icon" (click)="openWindow('name')">
                <i class="fa-solid fa-pen"></i>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-3 mt-md-0">
          <!-- <div class="btnX text-center">
            <button type="button" class="btn btn-outline-success me-3">
              Public View
            </button>
            <button type="button" class="btn btn-success">
              Public Setting
            </button>
          </div> -->
        </div>
      </div>
    </div>
    <div class="">
      <div class="row">
        <div class="titleAndPrice col-md-12 border border-1 border-secondary">
          <h4 class="text-center">My Information</h4>
          <div class=" ">
            <!-- <div class="password mb-3">
              <h5>Password</h5>

              <div class="icon" (click)="openWindow('password')">
                <i class="fa-solid fa-pen"></i>
              </div>
            </div> -->
            <!-- <div class="address mb-3">
              <h5>Address</h5>
              <div class="icon" (click)="openWindow('address')">
                <i class="fa-solid fa-pen"></i>
              </div>
            </div> -->
            <div class="mobile mb-3">
              <h5>
                Mobile :
                <span>0{{ userInfo.phone || userInfoServ.phone }} </span>
              </h5>
              <div class="icon" (click)="openWindow('phone')">
                <i class="fa-solid fa-pen"></i>
              </div>
            </div>
            <div class="email mb-3">
              <h5>
                Email : <span>{{ userInfo.email }}</span>
              </h5>
              <div class="icon" (click)="openWindow('email')">
                <i class="fa-solid fa-pen"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <!-- <div class="myLawers">
        <h4 class="text-center mt-4">My Lawers</h4>
        <div class="allLawers mt-5 row">
          <ng-container *ngFor="let user of usersList; index as i">
            <div class="mb-3 col-md-3">
              <div class="onLawer">
                <h5 class="text-center mb-3">Lawer-Name-{{ i + 1 }}</h5>
                <h6>Lawer-Title-{{ i + 1 }}</h6>
                <h6>Lawer-price-{{ i + 1 }}</h6>
              </div>
            </div>
          </ng-container>
        </div>
      </div> -->
      <div class="myLawers">
        <h4 class="text-center mt-4">My Appointment</h4>
        <!-- userAppointment -->
        <div class="row">
          
          <div class="col-md-4 col-lg-3 mb-3"  *ngFor="let date of userAppointment">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-center mb-3">DAY</h5>
                <p class="card-text">
                  <span class="hed">Appointment_date : </span> <span>{{date.appointment_date}}</span>
                </p>
                <p class="card-text">
                  <span class="hed">Appointment_id : </span> <span> {{date.id}}</span>
                </p>
                <div class="btt mt-4">
                  <button class="freeconsult btn me-3" [routerLink]="['/appointmentDetails', date.id]">Details</button>
                  <button class="freeconsult btn"  (click)="deleteFun(date.id)">Delete</button>
                </div>
                <p *ngIf="appoError && errId == date.id" class="text-danger">"This appointment cannot be deleted as its destroying date has passed."</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-4 col-lg-3 mb-3" *ngFor="let date of allDates"> -->
      </div>
    </div>
  </div>

  <div class="divForm" *ngIf="openBool">
    <form
      action="#"
      method="POST"
      [formGroup]="editUserForm"
      (ngSubmit)="editUserData(editUserForm)"
    >
      <div class="closBtn" (click)="closeWindow()">x</div>
      <!-- name -->
      <div class="mb-1" [ngClass]="openTabs == 'name' ? 'd-black' : 'd-none'">
        <label for="name" class="form-label">name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          formControlName="name"
          aria-describedby="nameHelp"
          [ngStyle]="{
            'border-color':
              editUserForm.controls['name'].touched &&
              editUserForm.controls['name'].invalid
                ? 'red'
                : 'grey'
          }"
        />
        <div
          class="text-danger"
          *ngIf="
            editUserForm.controls['name'].touched &&
            editUserForm.controls['name'].invalid
          "
        >
          <small *ngIf="editUserForm.controls['name']?.errors?.['required']"
            >Name is a required field!</small
          >
          <small *ngIf="editUserForm.controls['name']?.errors?.['minlength']"
            >Length Should Be More Than 3 Char!!!
          </small>
          <small *ngIf="editUserForm.controls['name']?.errors?.['maxlength']"
            >Length Should Be Less Than 10 Char!!!
          </small>
        </div>
      </div>
      <!-- email -->
      <div class="mb-1" [ngClass]="openTabs == 'email' ? 'd-black' : 'd-none'">
        <label for="name" class="form-label">email</label>
        <input
          type="text"
          class="form-control"
          id="email"
          name="email"
          formControlName="email"
          aria-describedby="emailHelp"
          [ngStyle]="{
            'border-color':
              editUserForm.controls['email'].touched &&
              editUserForm.controls['email'].invalid
                ? 'red'
                : 'grey'
          }"
        />
        <div
          class="text-danger"
          *ngIf="
            editUserForm.controls['email'].touched &&
            editUserForm.controls['email'].invalid
          "
        >
          <small *ngIf="editUserForm.controls['email']?.errors?.['required']"
            >email is a required field!</small
          >
          <small *ngIf="editUserForm.controls['email']?.errors?.['email']"
            >Email Not Correct
          </small>
        </div>
      </div>
      <!-- IMAGE -->
      <div class="mb-1" [ngClass]="openTabs == 'image' ? 'd-black' : 'd-none'">
        <label for="name" class="form-label">Picture</label>
        <input
          type="file"
          class="form-control"
          id="image"
          formControlName="image"
          (change)="onFileUserChange($event)"
          name="image"
          aria-describedby="imageHelp"
          [ngStyle]="{
            'border-color':
              editUserForm.controls['image'].touched &&
              editUserForm.controls['image'].invalid
                ? 'red'
                : 'grey'
          }"
        />
        <div
          class="text-danger"
          *ngIf="
            editUserForm.controls['image'].touched &&
            editUserForm.controls['image'].invalid
          "
        >
          <small *ngIf="editUserForm.controls['image']?.errors?.['required']"
            >price is a required field!</small
          >
        </div>
      </div>
      <!-- Password -->
      <div
        class="mb-1"
        [ngClass]="openTabs == 'password' ? 'd-black' : 'd-none'"
      >
        <!-- <label for="password" class="form-label">Old Password</label>
        <input
          type="password"
          class="form-control"
          id="oldPassword"
          name="oldPassword"
          aria-describedby="oldPasswordHelp"
        /> -->

        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
          name="password"
          aria-describedby="passwordHelp"
          [ngStyle]="{
            'border-color':
              editUserForm.controls['password'].touched &&
              editUserForm.controls['password'].invalid
                ? 'red'
                : 'grey'
          }"
        />
        <div
          class="text-danger"
          *ngIf="
            editUserForm.controls['password'].touched &&
            editUserForm.controls['password'].invalid
          "
        >
          <small *ngIf="editUserForm.controls['password']?.errors?.['required']"
            >Password is a required field!</small
          >

          <small *ngIf="editUserForm.controls['password']?.errors?.['pattern']"
            >passworde Not Correct !!!
          </small>
        </div>
      </div>
      <!-- mobile -->
      <div class="mb-1" [ngClass]="openTabs == 'phone' ? 'd-black' : 'd-none'">
        <label for="mobile" class="form-label">Phone</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          formControlName="phone"
          name="phone"
          aria-describedby="phoneHelp"
          [ngStyle]="{
            'border-color':
              editUserForm.controls['phone'].touched &&
              editUserForm.controls['phone'].invalid
                ? 'red'
                : 'grey'
          }"
        />
        <div
          class="text-danger"
          *ngIf="
            editUserForm.controls['phone'].touched &&
            editUserForm.controls['phone'].invalid
          "
        >
          <small *ngIf="editUserForm.controls['phone']?.errors?.['required']"
            >phone is a required field!</small
          >

          <small *ngIf="editUserForm.controls['phone']?.errors?.['pattern']"
            >phonee Not Correct !!!
          </small>
        </div>
      </div>

      <button type="submit" class="btnSubmit">
        <!-- [ngClass]="{ active: editUserForm.valid }"
      [disabled]="editUserForm.invalid" -->
        Submit
      </button>
    </form>
  </div>
</div>
