.userProfile {
  position: relative;
}
.headerUser {
  padding: 20px;
  /* border: 1px solid rgba(128, 128, 128, 0.39); */
}

.image {
  /* width: 100%; */
  position: relative;
}
.image img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 1px solid rgba(128, 128, 128, 0.432);
}
.image .icon {
  padding: 14px;
  border-radius: 50%;
  background-color: white;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -2px;
  left: -2px;
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.397);
  color: #cc8800;
}
.acvitPar {
  padding: 3px;
  background-color: white;
  position: absolute;
  bottom: 4px;
  right: 3px;
  border-radius: 50%;
}
.iconActive {
  /* padding: 14px; */
  border-radius: 50%;
  background-color: white;
  width: 10px;
  height: 10px;

  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.397);
  background-color: green;
}

.titleAndPrice {
  padding: 30px 50px 20px 20px;
}
.description {
  /* padding: 0 20px; */
}
.password {
  position: relative;
  /* background-color: aqua; */
  width: fit-content;
}

.password .icon {
  padding: 14px;
  border-radius: 50%;
  background-color: white;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -35px;
  top: 0px;
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.397);
  color: #cc8800;
}

.name {
  position: relative;
  /* background-color: aqua; */
  width: fit-content;
}

.name .icon {
  padding: 14px;
  border-radius: 50%;
  background-color: white;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -35px;
  top: 0px;
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.397);
  color: #cc8800;
}

.mobile {
  position: relative;
  /* background-color: aqua; */
  width: fit-content;
}

.mobile .icon {
  padding: 14px;
  border-radius: 50%;
  background-color: white;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -35px;
  top: 0px;
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.397);
  color: #cc8800;
}

.email {
  position: relative;
  /* background-color: aqua; */
  width: fit-content;
}

.email .icon {
  padding: 14px;
  border-radius: 50%;
  background-color: white;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -35px;
  top: 0px;
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.397);
  color: #cc8800;
}

.address {
  position: relative;
  /* background-color: aqua; */
  width: fit-content;
}

.address .icon {
  padding: 14px;
  border-radius: 50%;
  background-color: white;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -35px;
  top: 0px;
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.397);
  color: #cc8800;
}
.description {
  position: relative;
  /* background-color: aqua; */
  width: fit-content;
}

.description .icon {
  padding: 14px;
  border-radius: 50%;
  background-color: white;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -35px;
  top: 0px;
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0.397);
  color: #cc8800;
}
.userProfile .divForm {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.226);
  display: flex;
  justify-content: center;
  align-items: center;
}
.userProfile .divForm form {
  padding: 30px;
  border-radius: 10px;
  background-color: rgb(253, 253, 253);
  position: relative;
}
.closBtn {
  position: absolute;
  top: -10px;
  right: -10px;
  /* padding: 10px; */
  width: 25px;
  height: 25px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: white;
  color: #cc8800;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid gray;
}

.btnSubmit {
  margin-top: 5px;
  border: none;
  outline: none;
  border: 2px solid #b8b8b8;
  background-color: white;
  color: black;
  border-radius: 7px;
  padding: 5px 15px;
  transition: 0.3s;
}
.btnSubmit.active {
  margin-top: 5px;
  border: none;
  outline: none;
  border: 2px solid #cc8800;
  background-color: white;
  color: black;
  border-radius: 7px;
  padding: 5px 15px;
  transition: 0.3s;
}

.btnSubmit:hover.active {
  border: 2px solid #878787;
  background-color: #cc8800;
  color: white;
}

/* .leftDe{} */
.group {
  padding-bottom: 30px;
}
.group button {
  border-radius: 10px;
  /* background-color: #f5f5f5; */
  color: white;
  /* border: 2px solid #f5f5f5; */
  /* width: 250px; */
  padding: 20px;
  font-size: 1.5rem;
  background-color: #cc8800f1;
  margin-bottom: 10px;

  text-align: start;
}
.myLawers{
  border-top: 2px solid gray;
}
.onLawer{
  padding: 20px;
  border-radius: 5px;
  background-color: #cc8800dc;
  color: white;

}

.freeconsult {
  border: 2px solid #cc8800 !important;
}
.freeconsult:hover {
  border: 2px solid black;
  background-color: #cc8800;
  color: white;
}
