<div class="ourRules" #ourRules>
    <div class="container-fluid">
      <h1 class="ourRulHead">Our Rules</h1>
      <div class="row flex-wrap">
        <div class="col-lg col-md-4 col-sm-6 mb-3 mb-xl-0">
          <div
            class="circle circle1 active m-auto mx-lg-0"
            [ngClass]="{ active: showsWebIcon }"
          >
            <svg>
              <circle cx="70" cy="70" r="70"></circle>
              <circle cx="70" cy="70" r="70"></circle>
            </svg>
            <div class="number">
              <p>95<span class="perMark">%</span></p>
            </div>
          </div>
          <h4 class="text-center percTitle">Child Hod</h4>
        </div>
        <div class="col-lg col-md-4 col-sm-6 mb-3 mb-xl-0">
          <div
            class="circle circle2 m-auto mx-lg-0"
            [ngClass]="{ active: showsWebIcon }"
          >
            <svg>
              <circle cx="70" cy="70" r="70"></circle>
              <circle cx="70" cy="70" r="70"></circle>
            </svg>
            <div class="number">
              <p>85<span class="perMark">%</span></p>
            </div>
          </div>
          <h4 class="text-center percTitle">Business Law</h4>
        </div>
        <div class="col-lg col-md-4 col-sm-6 mb-3 mb-xl-0">
          <div
            class="circle circle3 m-auto mx-lg-0"
            [ngClass]="{ active: showsWebIcon }"
          >
            <svg>
              <circle cx="70" cy="70" r="70"></circle>
              <circle cx="70" cy="70" r="70"></circle>
            </svg>
            <div class="number">
              <p>60<span class="perMark">%</span></p>
            </div>
          </div>
          <h4 class="text-center percTitle">Copyright</h4>
        </div>
        <div class="col-lg col-md-4 col-sm-6 mb-3 mb-xl-0">
          <div
            class="circle circle4 m-auto mx-lg-0"
            [ngClass]="{ active: showsWebIcon }"
          >
            <svg>
              <circle cx="70" cy="70" r="70"></circle>
              <circle cx="70" cy="70" r="70"></circle>
            </svg>
            <div class="number">
              <p>50<span class="perMark">%</span></p>
            </div>
          </div>
          <h4 class="text-center percTitle">Civil rights</h4>
        </div>
        <div class="col-lg col-md-4 col-sm-6">
          <div
            class="circle circle5 m-auto mx-lg-0"
            [ngClass]="{ active: showsWebIcon }"
          >
            <svg class="d-flex justify-content-center align-items-center">
              <circle cx="70" cy="70" r="70"></circle>
              <circle cx="70" cy="70" r="70"></circle>
            </svg>
            <div class="number">
              <p>75<span class="perMark">%</span></p>
            </div>
          </div>
          <h4 class="text-center percTitle">Family Law</h4>
        </div>
      </div>
    </div>
  </div>