<div class="practiceDetails">
  <div class="container-fluid">
    <div class="headerMain">
      <h2 class="practiceDetailsHeader">Our Practice Area</h2>
      <p>
        From corporate law to human rights law, find out about different
        practice areas.
      </p>
    </div>
    <div class="contentTabs">
      <div class="contentwrap d-flex align-items-start">
        <div
          class="nav flex-column nav-pills"
          id="v-pills-tab"
          role="tablist"
          aria-orientation="vertical"
        >
          <button
            class="nav-link active"
            id="v-pills-home-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-home"
            type="button"
            role="tab"
            aria-controls="v-pills-home"
            aria-selected="true"
          >
            <i class="fa-solid fa-people-group me-2"></i>
            <span>Family Law</span>
          </button>
          <button
            class="nav-link"
            id="v-pills-profile-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-profile"
            type="button"
            role="tab"
            aria-controls="v-pills-profile"
            aria-selected="false"
          >
            <i class="fa-solid fa-car-side me-2"></i>
            <span>Car Accidents</span>
          </button>

          <button
            class="nav-link"
            id="v-pills-messages-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-messages"
            type="button"
            role="tab"
            aria-controls="v-pills-messages"
            aria-selected="false"
          >
            <i class="fa-solid fa-gavel me-2"></i>
            <span>Wrongful Death</span>
          </button>

          <button
            class="nav-link"
            id="v-pills-real-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-real"
            type="button"
            role="tab"
            aria-controls="v-pills-real"
            aria-selected="false"
          >
            <i class="fa-solid fa-house-user me-2"></i>
            <span>Real Estate</span>
          </button>
          <button
            class="nav-link"
            id="v-pills-settings-tab"
            data-bs-toggle="pill"
            data-bs-target="#v-pills-settings"
            type="button"
            role="tab"
            aria-controls="v-pills-settings"
            aria-selected="false"
          >
            <i class="fa-solid fa-user me-2"></i>
            <span>Immigration Law</span>
          </button>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
          <div
            class="tab-pane fade show active"
            id="v-pills-home"
            role="tabpanel"
            aria-labelledby="v-pills-home-tab"
            tabindex="0"
          >
            <h4>Family Law</h4>
            <p class="mb-3">
              Family law deals with family-related issues and domestic
              relations. Most family law practices focus on representing clients
              in a divorce and the issues related to divorce such as the
              division of marital property, child custody and support, and
              alimony.
            </p>
            <P class="mb-3">
              The practice of family law covers many subspecialties. Some family
              law attorneys focus exclusively on divorce and related issues.
              Adoption attorneys may work with government or private agencies
              during adoptions. This article reviews the areas of law within the
              family law umbrella and which is best for your legal issues.</P
            >
            <p class="mb-3">
              If you have a family law issue, you need legal advice. Family law
              has two categories: before and during the marriage and law after
              the marriage. Whatever your problem is will determine the type of
              attorney you need.
            </p>
            <p class="mb-3">
              Divorce is the most common reason people consult a family law
              attorney. Unfortunately, statistics show that 40-50% of all
              marriages end in divorce. You will need an attorney for matters
              related to marital property division, alimony or spousal support,
              and other issues. Each state has laws for divorce. Some states,
              such as California, have waiting periods for couples after filing
              a divorce. Others grant the divorce immediately. Your attorney can
              provide legal assistance for filing and completing documents.
            </p>
          </div>
          <div
            class="tab-pane fade"
            id="v-pills-profile"
            role="tabpanel"
            aria-labelledby="v-pills-profile-tab"
            tabindex="0"
          >
            <h4>Car Accidents</h4>
            <p class="mb-3">
              the best car accident description needs to answer a few questions.
              This is because law enforcement, insurance agencies, lawyers, and
              others will need most if not all of these questions answered.
              Giving a good description of your accident can save you time and
              money.
            </p>
            <p class="mb-3">
              Let's go over the questions.<br />
              <b>First</b>, where did the accident take place? Try to pinpoint
              where each vehicle was. Less useful example: "I was in a car crash
              in Beaverton" Good example: "The accident happened at the
              intersection of Third St. and Washington Ave. My car was traveling
              north along Washington Ave., their car was traveling west along
              Third St."
            </p>
            <p class="mb-3">
              <b>Second</b>, when did the accident take place? The exact time
              can be useful. Less useful example: "The crash was sometime in
              August last year" Good example: "The crash happened on August
              31st, 2021 at 2:00 in the afternoon."
            </p>
            <p class="mb-3">
              <b>Third</b>, how did the accident happen? In what way did the
              cars hit each other and why? Less useful example: "They hit my
              car, it wasn't my fault." Good example: "The other driver
              rear-ended me. I was at a complete stop. They admitted to being
              distracted by their phone"
            </p>
            <p class="mb-3">
              <b>Fourth</b>, what damages were caused by the accident? Less
              useful example: "My car is pretty messed up, and so is my leg. My
              life has been crazy after the accident."
            </p>
          </div>
          <div
            class="tab-pane fade"
            id="v-pills-messages"
            role="tabpanel"
            aria-labelledby="v-pills-messages-tab"
            tabindex="0"
          >
            <h4>Wrongful Death</h4>
            <p class="mb-3">
              Deaths are extremely hard for families involved, but they can be
              even more difficult when caused by someone’s carelessness.
              Wrongful death occurs when an individual’s death is directly
              caused by the wrongful act or negligence of either a person or
              business. Wrongful deaths can be caused by numerous factors and
              situations. The following are among the most common types of
              wrongful death cases:
            </p>
            <p class="mb-3">
              When it comes to wrongful death, car accidents are the most common
              cause because of both the number of drivers and how often people
              drive. There are over 16 million drivers in Florida, and the
              Sunshine State averages hundreds of car crashes per day. Those
              crashes lead to thousands of fatalities every year.
            </p>
            <p class="mb-3">
              The vast majority of car accident fatalities are the result of at
              least one driver’s negligence, whether due to speeding, reckless
              driving, not paying attention to the road or driving under the
              influence. If any of these apply, the negligent driver can be
              liable for the deaths of anyone else involved in the accident
              including other drivers and passengers.
            </p>
            <p>
              <b>Example of a car accident wrongful death lawsuit</b><br />
              A Broward Circuit Court jury awarded Michael DeMella $24 million
              after his pregnant wife was killed by a drunk driver who plowed
              into the poolside cabana where they were lounging at a Fort
              Lauderdale hotel. On March 18, 2020, the drunk driver hopped over
              a curb and crashed into the cabana, killing Alanna DeMella, 26,
              and her unborn son, who was to be named Joshua. Michael only
              survived because he was in the restroom nearby and suffered minor
              injuries.
            </p>
          </div>
          <div
            class="tab-pane fade"
            id="v-pills-real"
            role="tabpanel"
            aria-labelledby="v-pills-real-tab"
            tabindex="0"
          >
            <h4>Real Estate</h4>
            <p class="mb-3">
              Buying a home is probably the biggest investment you'll ever make.
              In addition to hiring a real estate agent to help negotiate the
              transaction, you might consider a real estate lawyer to guide you
              through the legal process. Real estate attorneys specialize in
              matters related to property, from transactions to handling
              disputes between parties.
            </p>
            <p class="mb-3">
              Real estate law encompasses the purchase and sale of real
              property, meaning land and any structures on it. It also covers
              legal issues related to anything attached to the property or
              structures, such as appliances and fixtures.
            </p>
            <p class="mb-3">
              Lawyers who specialize in real estate ensure that proper
              procedures are followed during the acquisition or sale of
              property. They also may be concerned with how a property is zoned
              for usage. Real estate law covers deeds, property taxes, estate
              planning, zoning, and titles.
            </p>
          </div>
          <div
            class="tab-pane fade"
            id="v-pills-settings"
            role="tabpanel"
            aria-labelledby="v-pills-settings-tab"
            tabindex="0"
          >
            <h4>Immigration Law</h4>
            <p class="mb-3">
              Includes the national statutes, regulations, and legal precedents
              governing immigration into and deportation from a country.
              Strictly speaking, it is distinct from other matters such as
              naturalization and citizenship, although they are sometimes
              conflated.[1] Countries frequently maintain laws that regulate
              both the rights of entry and exit as well as internal rights, such
              as the duration of stay, freedom of movement, and the right to
              participate in commerce or government.[citation needed]
            </p>
            <P class="mb-3">
              The United States sees a constant influx of people hoping to live,
              work, and study within its borders, and immigration lawyers can
              help individuals, families, and businesses navigate those various
              and often complex immigration pathways. A person’s immigration
              status might impact and intersect with other legal matters too,
              such as family law, criminal law, business, and tax law, and being
              well versed in immigration law is necessary for attorneys
              practicing in those areas as well.
            </P>
            <p class="mb-3">
              Finally, highly experienced immigration lawyers may pursue other
              career interests, such as teaching immigration law in law schools.
              Many universities have an immigration attorney on staff to advise
              incoming students and faculty as well. Other possibilities include
              becoming an immigration judge, a legislative aid (every member of
              Congress has an immigration advisor on staff), or an appointed or
              elected official.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
