<!-- <div class="singleImagDetail">
    <div class="image">
      <img [src]="image1" alt="" />
    </div>
    <div class="content">
      <h5 class="name">
        <span class="doctor">Lawer</span> Eman Tantawy
      </h5>
      <p class="title">
        Ph.D. and Consultant Oral and Maxillofacial Surgery
      </p>
      <div class="iconrate">
        <i class="fa-solid fa-star"> </i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
      <p class="rate">Overall Rating From 887 Visitors</p>

      <div class="category">
        <i class="fa-solid fa-scale-balanced"></i> Case Fight
      </div>
      <div class="feess">
        <i class="fa-solid fa-money-bill-wave"></i> Fees : 300 EGP
      </div>
      <div class="waitTime">
        <i class="fa-regular fa-clock"></i> Waiting Time : 15 Minutes
      </div>
      <div class="cont">
        <i class="fa-solid fa-phone"></i> 16676 - Cost of regular call
      </div>
    </div>
  </div> -->