<div class="ourExpert">
  <div class="container-fluid">
    <h2 class="ourExpertHeader text-center">Our Expert Team</h2>
    <div class="row">
      <div class="m-auto col-10 col-sm-6 col-md-4 col-lg-3 mb-3 mb-lg-0">
      <a routerLink="/alllawer">
        <div class="team">
          <img [src]="image1" alt="" />
          <div class="teamText">
            <h4>John B. Smith</h4>
            <p>Lawyer</p>
          </div>
          <div
            class="teamSocial d-flex justify-content-center align-items-center"
          >
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-regular fa-envelope"></i>
          </div>
        </div>
      </a>
      </div>
      <div class="m-auto col-10 col-sm-6 col-md-4 col-lg-3 mb-3 mb-lg-0">
    <a routerLink="/alllawer">
      <div class="team">
        <img [src]="image2" alt="" />
        <div class="teamText">
          <h4>Mark Brown</h4>
          <p>Lawyer</p>
        </div>
        <div
          class="teamSocial d-flex justify-content-center align-items-center"
        >
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-regular fa-envelope"></i>
        </div>
      </div>

    </a>
      </div>
      <div class="m-auto col-10 col-sm-6 col-md-4 col-lg-3 mb-3 mb-lg-0">
       <a routerLink="/alllawer">
        <div class="team">
          <img [src]="image3" alt="" />
          <div class="teamText">
            <h4>Jane Doe</h4>
            <p>Lawyer Assistant</p>
          </div>
          <div
            class="teamSocial d-flex justify-content-center align-items-center"
          >
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <!-- <i class="fa-regular fa-envelope"></i> -->
          </div>
        </div>
       </a>
      </div>
      <div class="m-auto col-10  col-sm-6 col-md-4 col-lg-3 mb-3 mb-lg-0">
     <a routerLink="/alllawer">
      <div class="team">
        <img [src]="image4" alt="" />
        <div class="teamText">
          <h4>Alex Darayov</h4>
          <p>Lawyer Assistant</p>
        </div>
        <div
          class="teamSocial d-flex justify-content-center align-items-center"
        >
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-skype"></i>
        </div>
      </div>
     </a>
      </div>
    </div>
  </div>
</div>
