<div class="ourClient">
  <div id="carouselExample" class="carousel slide">
    <div class="overlar"></div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="text">
          <h1>FAMILY LAWYERS</h1>
          <p>
            It's not uncommon for separation matters to cause stress, when this
            occurs putting your
          </p>
        </div>
        <img [src]="image1" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <div class="text">
          <h1>Area of Practice</h1>
          <p>
            We only practice family law so our awareness, knowledge, and
            experience in the field is extensive and current.
          </p>
        </div>
        <img [src]="image2" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <div class="text">
          <h1>The Evolve Process</h1>
          <p>Before discussing your matter in any capacity,</p>
        </div>
        <img [src]="image3" class="d-block w-100" alt="..." />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
