<div class="about">
  <div class="container-fluid">
    <div class="aboutFirm row">
      <div class="col-md-7 col-11 m-auto">
        <h2 class="aboutHeader">About the Firm</h2>
        <div class="cont">
          <div class="image">
            <img [src]="imagelogo" alt="" />
          </div>
          <div class="content">
            A lawyer or attorney is a person who practices law, as an advocate,
            attorney, attorney at law, barrister, barrister-at-law, bar-at-law,
            civil law notary, counsel, counselor, counselor, counselor at law,
            solicitor, chartered legal executive, or public servant preparing,
            interpreting and applying law, but not as a paralegal or charter
            executive secretary. Working as a lawyer involves the practical
            application of abstract legal theories and knowledge to solve
            specific individualized problems, or to advance the interests of
            those who hire lawyers to perform legal services. A lawyer or
            attorney is a person who practices law, as an advocate, attorney,
            attorney at law, barrister, barrister-at-law, bar-at-law, civil law
            notary, counsel, counselor, counselor, counselor at law, solicitor,
            chartered legal executive, or public servant preparing, interpreting
            and applying law, but not as a paralegal or charter executive
            secretary.
          </div>
        </div>
      </div>
      <div class="col-md-4 offset-md-1 col-11 m-auto mt-4 mt-md-0">
        <h2 class="aboutHeader">Skills</h2>
        <div class="skills">
          <div class="skill">
            <p>Family Law</p>
            <div class="line">
              <div class="overlay overlay1"></div>
              <div class="percent">96%</div>
            </div>
          </div>
          <div class="skill">
            <p>Intellectual property</p>
            <div class="line">
              <div class="overlay overlay2"></div>
              <div class="percent">90%</div>
            </div>
          </div>
          <div class="skill">
            <p>Business Law</p>
            <div class="line">
              <div class="overlay overlay3"></div>
              <div class="percent">85%</div>
            </div>
          </div>
          <div class="skill">
            <p>Lawsuits and disputes</p>
            <div class="line">
              <div class="overlay overlay4"></div>
              <div class="percent">65%</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
