<div class="container">
  <h1 class="text-center my-4">Date List</h1>

  <div class="row" *ngIf="!showForm">
  
    <div class="col-md-4 col-lg-3 mb-3" *ngFor="let date of allDates">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center mb-3">{{date.day}}</h5>
          <p class="card-text">
            <span class="hed">Start_From : </span> <span> {{date.start_hour}}</span>
          </p>
          <p class="card-text">
            <span class="hed">End_To : </span> <span> {{date.end_hour}}</span>
          </p>
          <div class="btt mt-4">
            <button class="freeconsult btn me-3" (click)="showFormFun(date.id)">Update</button>
            <button class="freeconsult btn"  (click)="deleteFun(date.id)">Delete</button>
          </div>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>

  </div>
  <div class="editDate" *ngIf="showForm">

    <div class="datesForm">

      <div class=" formmmm ">
        <div class="closBtn" (click)="closeWindow()">x</div>

        <form
          action="#"
          method="POST"
          [formGroup]="dateForm"
          (ngSubmit)="editDate(dateForm)"
        >
          <div class="mb-1">
            <label for="day" class="form-label">Day</label>
            <input
              type="text"
              class="form-control"
              id="day"
              aria-describedby="daylHelp"
              formControlName="day"
              [ngStyle]="{
                'border-color':
                  dateForm.controls['day'].touched &&
                  dateForm.controls['day'].invalid
                    ? 'red'
                    : 'grey'
              }"
            />
            <div
              class="text-danger"
              *ngIf="
                dateForm.controls['day'].touched &&
                dateForm.controls['day'].invalid
              "
            >
              <small *ngIf="dateForm.controls['day']?.errors?.['required']"
                >day is a required field!</small
              >
              <small *ngIf="dateForm.controls['day']?.errors?.['minlength']"
                >Length Should Be More Than 3 Char!!!
              </small>
              <small *ngIf="dateForm.controls['day']?.errors?.['maxlength']"
                >Length Should Be Less Than 10 Char!!!
              </small>
            </div>
          </div>
          <div class="mb-1">
            <label for="day" class="form-label">start_from</label>
            <input
              type="text"
              class="form-control"
              id="day"
              aria-describedby="daylHelp"
              formControlName="start_hour"
              [ngStyle]="{
                'border-color':
                  dateForm.controls['start_hour'].touched &&
                  dateForm.controls['start_hour'].invalid
                    ? 'red'
                    : 'grey'
              }"
            />
            <div
              class="text-danger"
              *ngIf="
                dateForm.controls['start_hour'].touched &&
                dateForm.controls['start_hour'].invalid
              "
            >
              <small
                *ngIf="dateForm.controls['start_hour']?.errors?.['required']"
                >day is a required field!</small
              >
              <small
                *ngIf="dateForm.controls['start_hour']?.errors?.['minlength']"
                >Length Should Be More Than 3 Char!!!
              </small>
              <small
                *ngIf="dateForm.controls['start_hour']?.errors?.['maxlength']"
                >Length Should Be Less Than 10 Char!!!
              </small>
            </div>
          </div>
          <div class="mb-1">
            <label for="day" class="form-label">end_to</label>
            <input
              type="text"
              class="form-control"
              id="day"
              aria-describedby="daylHelp"
              formControlName="end_hour"
              [ngStyle]="{
                'border-color':
                  dateForm.controls['end_hour'].touched &&
                  dateForm.controls['end_hour'].invalid
                    ? 'red'
                    : 'grey'
              }"
            />
            <div
              class="text-danger"
              *ngIf="
                dateForm.controls['end_hour'].touched &&
                dateForm.controls['end_hour'].invalid
              "
            >
              <small *ngIf="dateForm.controls['end_hour']?.errors?.['required']"
                >day is a required field!</small
              >
              <small *ngIf="dateForm.controls['end_hour']?.errors?.['minlength']"
                >Length Should Be More Than 3 Char!!!
              </small>
              <small *ngIf="dateForm.controls['end_hour']?.errors?.['maxlength']"
                >Length Should Be Less Than 10 Char!!!
              </small>
            </div>
          </div>

          <button
            type="submit"
            class="btn loginBtn mt-3"
            [ngClass]="{ active: dateForm.valid }"
            [disabled]="dateForm.invalid"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
