<div class="practcArea">
  <div class="navigator">
    <div class="navgateHeader">
      <h1>Practice Area</h1>
    </div>
    <div class="navBar d-flex align-items-center">
      <a routerLink="/home"><i class="fa-solid fa-house pe-3"></i></a>
      <i class="fa-solid fa-angle-right pe-3"></i>
      <p>practicArea</p>
    </div>
  </div>
  <div class="smiContainer">
    <div class="container-fluid">
      <div class="cont col-md-8 m-auto col-11 text-center">
        <h2 class="publicPracticeHeader text-center">
          Find more about our practice areas
        </h2>
        <p>
          A lawyer or attorney is a person who practices law, as an advocate,
          attorney at law, barrister, barrister-at-law, bar-at-law, canonist,
          canon lawyer, civil law notary, counsel, counselor, solicitor, legal
          executive, or public servant preparing, interpreting and applying the
          law, but not as a paralegal or charter executive secretary.
        </p>
      </div>
      <div class="temp">
        <div class="row">
          <div class="col-md-6 col-lg-4 mb-3 ">
            <div class="slide">
              <img [src]="image1" alt="" srcset="" />
              <div class="textCase">
                <h4>Money Laundering</h4>
                <div
                  class="typeCase d-flex justify-content-center align-items-center"
                >
                  <p>Business</p>
                  <p>criminal</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-3">
            <div class="slide">
              <img [src]="image2" alt="" srcset="" />
              <div class="textCase">
                <h4>Child Apps</h4>
                <div
                  class="typeCase d-flex justify-content-center align-items-center"
                >
                  <p>Criminal</p>
                  <p>FamilyLaw</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-3">
            <div class="slide">
              <img [src]="image3" alt="" srcset="" />
              <div class="textCase">
                <h4>Spousal Assault</h4>
                <div
                  class="typeCase d-flex justify-content-center align-items-center"
                >
                  <p>FamilyLaw</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-3">
            <div class="slide">
              <img [src]="image4" alt="" srcset="" />
              <div class="textCase">
                <h4>Drinking</h4>
                <div
                  class="typeCase d-flex justify-content-center align-items-center"
                >
                  <p>criminal</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-4 mb-3">
            <div class="slide">
              <img [src]="image5" alt="" srcset="" />
              <div class="textCase">
                <h4>Drug Offences</h4>
                <div
                  class="typeCase d-flex justify-content-center align-items-center"
                >
                  <p>criminal</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-3">
            <div class="slide">
              <img [src]="image6" alt="" srcset="" />
              <div class="textCase">
                <h4>Shoplifting</h4>
                <div
                  class="typeCase d-flex justify-content-center align-items-center"
                >
                  <p>socialOff</p>
                  <p>criminal</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>