<div class="ourPractc">
  <div class="container-fluid">
    <h2 class="ourPracticeHeader text-center">Our Practice Area</h2>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="item d-flex justify-content-center align-items-center">
          <div class="icon">
            <img [src]="image1" alt="" />
          </div>
          <div class="text">
            <h4>Legal Advices</h4>
            <p>Your best lawyer is here!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">



          <div class="item d-flex justify-content-center align-items-center">
            <div class="icon">
              <img [src]="image2" alt="" />
            </div>
            <div class="text">
              <h4>Litigation</h4>
              <p>Your best lawyer is here!</p>
            </div>
          </div>
      
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="item d-flex justify-content-center align-items-center">
          <div class="icon">
            <img [src]="image3" alt="" />
          </div>
          <div class="text">
            <h4>Lawsuits</h4>
            <p>Your best lawyer is here!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="item d-flex justify-content-center align-items-center">
          <div class="icon">
            <img [src]="image4" alt="" />
          </div>
          <div class="text">
            <h4>Business Law</h4>
            <p>Your best lawyer is here!</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row mt-5">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="item d-flex justify-content-center align-items-center">
          <div class="icon">
            <img [src]="image5" alt="" />
          </div>
          <div class="text">
            <h4>Criminal Defense</h4>
            <p>Your best lawyer is here!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="item d-flex justify-content-center align-items-center">
          <div class="icon">
            <img [src]="image6" alt="" />
          </div>
          <div class="text">
            <h4>Copyrights</h4>
            <p>Your best lawyer is here!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="item d-flex justify-content-center align-items-center">
          <div class="icon">
            <img [src]="image7" alt="" />
          </div>
          <div class="text">
            <h4>Criminal Law</h4>
            <p>Your best lawyer is here!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="item d-flex justify-content-center align-items-center">
          <div class="icon">
            <img [src]="image8" alt="" />
          </div>
          <div class="text">
            <h4>Legal Advices</h4>
            <p>Your best lawyer is here!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="viewAll">
      <a href="" class="d-flex justify-content-center align-items-center ">
        <i class="fa-solid fa-sitemap"></i>
        <p>View All Department</p>
      </a>

    </div>
  </div>
  
</div>