<div class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="left text-center text-md-start">
          <div class="imagee m-auto m-md-0">
            <img [src]="image" alt="" />
          </div>
          <p>
            Lawyers are always free to form voluntary associations of their own,
            apart from any licensing or mandatory membership that may be
            required by the laws of their jurisdiction.
          </p>
          <div class="social justify-content-center justify-content-md-start">
            <div class="icon">
            <a href="">  <i class="fa-brands fa-facebook-f"></i></a>
            </div>
            <div class="icon">
              <a href=""><i class="fa-brands fa-twitter"></i></a>
            </div>

            <div class="icon">
              <a href=""><i class="fa-solid fa-envelope"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="center mt-5 mt-md-0">
          <h5 class="title">Working Hours</h5>
          <div class="underline"></div>
          <div class="dates">
            <div class="date">
              <p class="days">Monday to Friday</p>
              <p>9:00 to 16:30</p>
            </div>
            <div class="date">
              <p class="days">Saturday</p>
              <p>9:00 to 15:30</p>
            </div>
            <div class="date">
              <div>
                <p class="days">Sunday</p>
                <p class="emerg">Only Emergency Calls</p>
              </div>
              <p>Closed</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="right mt-5 mt-md-0">
          <h5 class="title">Contact</h5>
          <div class="underline"></div>
          <div class="contacts">
            <div class="contact">
              <div class="icon">
                <i class="fa-solid fa-location-dot"></i>
              </div>
              <div class="links">
                <p class="title">Address</p>
                <p class="link">Unit48, 23 Ave. New York USA</p>
              </div>
            </div>
            <div class="contact">
              <div class="icon">
                <i class="fa-solid fa-phone-volume"></i>
              </div>
              <div class="links">
                <p class="title">Tel</p>
                <p class="link">(+20) 11-563-547</p>
              </div>
            </div>
            <div class="contact">
              <div class="icon">
                <i class="fa-regular fa-envelope"></i>
              </div>
              <div class="links">
                <p class="title">Email</p>
                <p class="link">info@xtralawyer.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 ">
        <div class="endFootSection">
          <div class="tabs">
            <p class="tab">About Us</p>
            <p class="tab">FAQ</p>
            <p class="tab">Practice Area</p>
            <p class="tab">Shop</p>
            <p class="tab">Contact</p>
          </div>
          <div class="copyRight">
            <p>Copyright 2023 Avocato-Team All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
